<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853848577032-qgsh73o4t8aedgk97ja4liirn2o52r6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853848577032-qgsh73o4t8aedgk97ja4liirn2o52r6d</string>
	<key>API_KEY</key>
	<string>AIzaSyAyU_2Uj9ONBVKXH91d3TCVoXMg5f02RGI</string>
	<key>GCM_SENDER_ID</key>
	<string>853848577032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Huynh-Cong-Thai.AppChat</string>
	<key>PROJECT_ID</key>
	<string>app-chat-9f178</string>
	<key>STORAGE_BUCKET</key>
	<string>app-chat-9f178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853848577032:ios:d2ee7b3ffa454f0d</string>
	<key>DATABASE_URL</key>
	<string>https://app-chat-9f178.firebaseio.com</string>
</dict>
</plist>